body {
    font-family: "Courier New", monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel {
    width: 80%;
    height: 80%;
    border: 2px solid #00ff00;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
    position: relative;
}

/* Terminal Satır Stili */
.terminal-line {
    margin: 0;
    padding: 5px;
    font-size: 16px;
}

/* Buton Stili */
.panel-button {
    background-color: #333;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.panel-button:hover {
    background-color: #00ff00;
    color: #000;
}

/* Alt Panel Bölmesi */
.bottom-panel {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
}

#terminal {
    padding: 0px;
    white-space: pre-wrap;
    overflow-y: auto;
}

#main-panel {
    display: none;
    flex-direction: column;
    height: calc(100% - 40px);
    padding: 0;
}

#welcome-message {
    display: none;
    color: #00ff00;
    margin-bottom: 10px;
    font-size: 14px;
}

#terminal-output {
    flex: 1;
    overflow-y: auto;
    padding: 10px 0;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#terminalinput {
    display: none;
    background: transparent;
    border: none;
    border-top: 1px solid #00ff00;
    color: #00ff00;
    font-family: "Courier New", monospace;
    font-size: 16px;
    outline: none;
    padding: 10px 0;
    width: 100%;
    caret-color: #00ff00;
}

#terminalinput::placeholder {
    color: #006600;
}

.matrix-char {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}
